language: ruby
rvm:
  - 2.0.0
  - 2.1.10
  - 2.2.10
  - 2.3.8
  - 2.4.5
  - 2.5.3
  - 2.6.0
  - ruby-head
before_install:
  - gem update --system
  - gem update bundler
env:
  global:
  - secure: lDkZSBZKCnmOcxrP13WTrPM7wT9ox4PFB0l6EjdA++Czus1gqFMQV5HCQzWcnsS9mUdcKWhUBjdchC8vzEXnpvhuwPf508kF+jYuaI9t8kOug48Iwp+rQ9Tmhue8AEj0XYJ8Z0TRrDmIFa46Ni+3OQTy9ptnRjumqELa+sZoqu9P9GmFhUJFQuuqV+UrJVU8wyhJemK8rWo7AoqlLsiIxI/YxGxOoobCjBWboslgGbvAQxcIJYCHxE0ZwImYEC1vZ2NDOHn/R5NFXpjAlteMOIyh0CvW4NYUi0I4ypdiuiI+3AWcqrlgitggWwkei3cz/u7/F8cGmrhBLCr+ZSqrePjVfvC5HetoFanLPKB+koJbEwfL17ACKRSBiJ4yV3YG86Lds7CTIJyhNcwJziQM4Vq7s7BS5Iz6xASYgaFtKn7GG5p9vJ57DCdyrxkAOl/FljFWVovNiFL5xnj7VXYiTKgOPnL+gtWwt9vmqUy6iYO6velNkIwOQ+FhpgLNp39HQc+m9c73UVqEN9BE/4PnVujq/g2+LQWkSvjCaOCJpldITmNPF6h2iTmTaS4F4BO3/+WTH4Fr3A6uzEpDjHzNM8dA/NU2ByF7wM3YIeo0COQQSuJjldR2Ft1bCsBHM04smAkl3J5+1BGA9XrbUt7jSZHfDIGFGXNWUhlBtSuStz0=
  - secure: L/jXir3l3/nOFxDfq70XbKbzmVGzZ/fcNuUF+k6cnJGje0BCHdWUo4kKwPdRLkawhccfd5cqJF3Yt+Z4juVYWZj7r1nQ7mqVBAkbf682bpPFSlfyKChVItMpwHKUhJs4gXV/UYiqbM6ZdNAe2gCyu/melHicMOn/wpuMTbURgzheShJSR3QGxfn00agYc5gQRNDIRO0LXxYenbWcrbRSFTZLhpdMn5gIJAxkFTsT0JYTa1KQuW8qFWedJkWj4IhliOvBIhcXNKsrZdPOBCB8gzpWQg2EfUs+ypOpUwooo2ugvkI19OUyCwkkdTCvZYP16GdTyEBHeEqdZDD066btIPjoasOuvuJ+z1r38Fw0pS7e61mdumVv5EYVh1WblAyJ/2J6nOJokHL2nOLYI0VTDWt6IwukhEg35BlfahfzRAY2BZp1DKEvm1hOUKKPXRFLqwyp+CBDS5UrlV2TclvNC+7CRni1rJqD85JTfbfa3QURGB7/ZlSA2OlQO2hZpvik8kCdsaAK5jzVUfHL/usKQJkF54hRaW1egGzqed2aBq0m6RcaIGjhIz4w8Fjo7AUP3MVye8LI3XEDH4l13KEwKYwnIJcXmZ/hHpj5R6XiXq1HrVAUs/4Z6XNMh4IZyZlKFNuBJBEcbq0H2JdiKe+RzXAJTixAfpV94ePfRk2QiLM=
